* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg-img {
  min-height: 100svh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.one {
  background-image: url(bjorn-are-with-andreassen-vPg790ZGCCM-unsplash.jpg);
  background-position: bottom;
}

.two {
  background-image: url(munir-rani-DNMvqJ_kdCQ-unsplash.jpg);
}

.three {
  background-image: url(daniel-vogel-Jdvvs2JqKD0-unsplash.jpg);
}

.four {
  background-image: url(green-ant-XS45ISBr5xk-unsplash.jpg);
}

.info {
  padding: 40px 50px;
  background-color: rgb(6, 16, 48);
  color: #fefefe;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

h1 {
  padding: 20px;
  background-color: rgb(6, 16, 48);
  color: #fefefe;
  border-radius: 10px;
}
